

body {
    background: linear-gradient(to bottom right, #691601, #db630670);
}
 

header {  
    background: radial-gradient(circle at top, rgba(255, 153, 0, 0.5) 0%, rgb(155, 158, 161) 100%);
 
    color: aliceblue;  
    padding: 2rem;  
    text-align: center;
    
}  

nav {  
    background: linear-gradient(to bottom right, #691601, #db630670);  
    padding: 0.5rem;  
    text-align: center;  
}  

nav a {  
    color: aliceblue;  
    margin: 0 1rem;  
    text-decoration: none;  
}  

main {  
    padding: 2rem;  
}  

section {  
    margin-bottom: 2rem;  
}  

footer {  
    text-align: center;  
    padding: 1rem;  
    background: radial-gradient(circle, rgba(255, 125, 4, 0.932) 0%, rgba(0, 0, 0, 0) 100%);
 
}  
.logo img {
    height: 75px;
    padding: 0.5rem;
    margin: 0rem;
}