

body {
    background: linear-gradient(to bottom right, #691601, #db630670);
}
 

header {  
    background: linear-gradient(to bottom right, #691601, #db630670); 
    color: aliceblue;  
    padding: 2rem;  
    text-align: center;
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
}  

nav {  
    background: linear-gradient(to bottom right, #691601, #db630670);  
    padding: 0.5rem;  
    text-align: center;  
}  

nav a {  
    color: aliceblue;  
    margin: 0 1rem;  
    text-decoration: none;  
}  

main {  
    padding: 2rem;  
}  

section {  
    margin-bottom: 2rem;  
}  

footer {  
    text-align: center;  
    padding: 1rem;  
    background: linear-gradient(to bottom right, #691601, #db630670); 
}  
.logo img {
    height: 75px;
    padding: 0.5rem;
    margin: 0rem;
}